*{
    margin: 0;
    padding: 0;
}


.headerbar{
    border: thin solid black;
    box-shadow: red 240px ;
    height: 3.8em;
    border-color: rgba(128, 128, 128, 0.425);
    box-sizing: border-box;
    width: 100% !important;
    border-left: none;
    border-right: none;
    flex-wrap: wrap;
    background-color: white;
    
    
}
.logo{
    width: 85px;
    height: 23px;
    margin-left:.5cm ;
    margin-top: .4cm;
}
.searchbar{
    height: 1cm;
    width: 8cm;
    border: thin solid rgb(236, 235, 235);
    border-radius: 30px;
    border-width: 2px;
    
}
.searchbar:hover{
    background-color: rgb(248, 248, 248);
    transition-duration: .4s;
}
.searchbar:hover ~.talent{
    background-color: rgb(224, 224, 224);
    transition-duration: .4s;
    border-top-left-radius:27px ;
    border-bottom-left-radius:27px ;
}


input:active{
    border: thin solid rgb(248, 248, 248) ;
}
.login{
    border-radius: 12px;
    width: 2.6cm;
    height: 1.1cm;
    background-color: transparent;
    border: none;
   
    
}
.signup{
    border-radius: 12px;
    width: 6rem;
    height: 2.5rem;
    border: none;
    
    background-color: #108A00;
    color: white;
}
.signup:hover{
    background-color: #15a801;
}
.everight{
    position: relative;
    left: 2.7cm;
    top: 0.2cm;
}
#drops{
    position: relative;
    left: 1cm;
    
}
#btnedit:hover{
    color: rgb(2, 196, 2);
}
#btnedit{
    background-color: transparent;
    position: relative;
    top: .2cm;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 6px;
}
#btnedit:hover ~.dropdown-toggle{
    transform: scale(400px);
}

#search{
    position: relative;
    right: 7.7cm;
    top: .28cm;
}
.talent{
    width: 2cm;
    height: 1cm;
    border: thin solid rgb(236, 235, 235);
    position: absolute;
    left: 6cm;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 3;
}
.cc{
    position: relative;
    right: 1.2cm;
    bottom: .2cm;
}

/* under nav */


.undernav , li{
    /* display: flex; */
    color: black;
    list-style-type: none;
    display: inline ;
    padding: .1cm;
    padding-left: .4cm;
    font-size: .9rem;   
}
.smallpics{
    width: .7cm;
    height: .7cm;
}
.undernav , li , a{
    color: black;
}
.undernav , li:hover{
    color: rgb(2, 196, 2);
}
.undernav{
    
    width: 100%;
    height: auto;
    
}

#more{
    background-color: transparent;
    position: relative;
    bottom: .15cm;
    right: .4cm;
    /* font-weight: 500; */
    font-family: Arial, Helvetica, sans-serif;
}

/* end of undernav */


/* section 1 */


.section1{
    width: 95%;
    margin: auto;
}
.sec1flex{
    display: flex;
    gap: 1cm;
}
.sec1left{
    width: 45%;
    /* border: red solid thick; */
}
.sec1right{
    width: 50%;
    /* border: green solid thick; */
}
.writeandtransimg{
    width: 100%;
}
.sec1head{
    font-size: 3.5rem;
    font-weight: 700;
}
.getstarted{
    background-color: rgb(0, 163, 0) ;
    color: white;
    width: 76%;
    border-radius: 10px;
    padding: .35cm;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1cm;
    border: none;
}
.imagespam{
    display: flex;
    gap: 3cm;
    margin-top: 1cm;
   
}
.companies{
    width: 123px ;
    height: 35px;
}


/* section2 */

.section2{
    background-color: #f9f9f9;
    margin-top: 2cm;
}


.section2div{
    width: 95%;
    margin: auto;
    padding-top: 1.5cm;
}
.sec2head{
    font-size: 3rem;
}
.firstgridcontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1cm;


}
.griditem{
    background-color: #f9f9f9;
    padding: 20px;
   
}

.griditem:nth-child(2){
    border-left: 1px solid;
    border-right: 1px solid;
}
.secondgridcontainer{
    margin-top: 1cm;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}
.griditem2{
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: black solid 2000px;
   
}
a{
    text-decoration: none;
}
.gridimg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: static;
    vertical-align: middle;
    width: 32px ;
    height: 32px ;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}
.arrowhead{
    position: relative;
    left: 3cm;

    
}
.seemoreskills{
    background-color: white ;
    color: #15a801;
    border: #15a801  solid ;
    border-radius: 12px;
    width: 7cm;
    padding: .4cm;
    margin-top: 1cm;
}
/* section 4 */

.section4{
    width: 95%;
    margin: auto;
    margin-top: 1cm;

}
.sec4flex{
    display: flex;
}
.sec4div1{
    /* border: #15a801 solid thick; */
    width: 50%;
    padding-top: 2cm;
}
.sec4div2{
    /* border: red solid thick; */
    width: 50%;
    
}
.laptop{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.btnlike{
    
    border-radius: 20px;
    padding: .2cm;
    display: inline-block;
    background-color: rgb(233, 233, 233);
    color: rgb(70, 70, 70);
}
.Browseprojects{
    background-color: white ;
    color: #15a801;
    border: #15a801  solid ;
    border-radius: 12px;
    width: 7cm;
    padding: .4cm;
    margin-top: 1cm;
}
.section5{
    width: 95%;
    margin: auto;
    margin-top: 2cm;
}
.sec5div{
    display: flex;
    gap: 1cm;
}
.sec5div1{
    width: 45%;
    /* border: red solid thin; */
}
.sec5div2{
    width: 50%;
    /* border: green solid thin; */
    padding-top: 3cm;
}
.twopeople{
    width: 100%;
    border-radius: 12px;
}


/* another section */

.section6{
    width: 95%;
    margin: auto;
    margin-top: 2cm;

}
.section6flex{
    display: flex;
    background-color: #f9f9f9;
    border-radius: 18px;
    padding: 1cm;
}
.sec6div1{
    /* border: red solid thick; */
    width: 40%;
}
.sec6div2{
    /* border: red solid thick; */
    width: 60%;
}

/* another section */

.section7{
    width: 95%;
    margin: auto;
    margin-top: 2cm;
}
/* .sec7gridcontainer{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px;
    

}
.sec7griditem{
    background-color: green;
    padding: 20px;
} */
.sec7linkspam{
    display: flex;
    gap: 4cm;
    margin-top:1cm;
    margin-left: 1cm;
}
.sec7second{
    margin-top: 1cm;
}
.sec7flexi{
    display: flex;
    gap: 4cm;
    margin-left: 1cm;
    margin-top: 1cm;
}
footer{
    width: 95%;
    margin: auto;
    margin-top: 2cm;
    background-color: #181818;
    border-radius: 10px;

}.footerflex{
    display: flex;
    gap: 3cm;
    padding: 1cm;
    color: white;
}
.footlink{
    color: white;
}
.socials{
    width: 40px;
    height: 40px;
    filter: brightness(9700%) saturate(0) ;
    padding-left: .5cm;
   
}
.socialsflex{
    display: flex;
    gap: 15cm;
}
.lastlinksbottom{
    display: flex;
    gap: 4cm;
    padding-top: .5cm;
    padding-bottom: .5cm;
}

/* mobile */

.mobilefooter{
    width: 95%;
    margin: auto;
    margin-top: 2cm;
    display: none;
}
.accordion-item{
    background-color: #181818;
    padding: 1cm;
    border-radius: 10px;
}
.accordion-button{
    background-color: #181818;
}

.accordion-button::after{
    background-color: white;
}


/* grid in burger */

.burger{
    display: inline;
    z-index: 400;
}
.gridinburgercontainer{
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 10px;
    background-color: white;
}
.gridinburger{
   
    padding: 20px;
    color: black;
    border-radius: 12px;
    border: thin solid black;

}
.signupburger{
    background-color: #15a801;
    width: 95%;
    margin: auto;
    padding: .3cm;
    border-radius: 20px;
    border: none;
    color: white;
    margin-top: 6cm;
}
.btn-dropdown{
    background-color: white;
}
.burgr{
    display: none;
}





