@media (max-width:1000px) {
    .sec1flex{
        flex-direction: column-reverse;
    }
    .sec1left{
        width: 100%;
    }
    .sec1right{
        width: 100%;
    }
    .imagespam{
        max-width: 100%;
        max-height: 100%;
        flex-wrap: wrap;
        gap: 1cm;
    }
    #drops{
        display: none;
    }
    .login{
        display: none;
    }
    .signup{
        display: none;
    }
    .search{
        display: none;
    }
    .searchbar{
        display: none;
    }
    .talent{
        display: none;
    }
    .undernav{
        display: none;
    }
    .sec1head br{
            display: none;
          
        }
    .sec1head{
        font-size: 2rem;
    }
    .burgr{
        display: inline-block;
     }
     .sec3flex{
        flex-direction: column-reverse;
     }
     .sec3div1{
        width: 100%;
     }
     .sec3div2{
        width: 100%;
     }
   
}

@media (max-width:990px){
    .section6flex{
        flex-direction: column;
       
    }
}




 @media (max-width:770px){
    .sec4flex{
        flex-direction: column-reverse;}

        .sec4div1{
           
            width: 100%;
            
        }
        .sec4div2{
            
            width: 100%;
        }
        .sec5div{
            flex-direction: column;
            gap: 0;
           
        }
        .sec5div1{
            width: 100%;
        }
        .sec5div2{
            width: 100%;
        }
        .sec7flexi{
           flex-direction: column;
           gap: 1cm;
           
        }
        .sec7linkspam{
            flex-direction: column;
            gap: 1cm;
        }
        footer{
            display: none;
        }
        .mobilefooter{
            display: inline-block;
        }
        .placema{
            margin: auto;
            width: 95%;
        }
    
    
}
@media (max-width:770px){
    .firstgridcontainer{
        grid-template-columns: 1fr;
    }
    .griditem:nth-child(2){
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-left: none;
        border-right: none;
    }
    .secondgridcontainer{
        grid-template-columns: repeat(8, 1fr);
        overflow-x: auto;
        grid-auto-flow: column;
        white-space: nowrap;
    }
}

@media (max-width:700px) {

     /* mobile stuff */
          /* mobile stuff */
        
     .mobilefooter{
        display: inline-block;
    }
    .mobilefoothead{
        margin-left: -1.5cm;
       }
       .socialsflex{
        flex-direction: column;
        gap: .5cm;
        margin-left: 2cm;
        padding: 0;
        /* border: red thick solid; */
        width: 70%;
       }
       .mobilefoothead{
        margin-left: -1cm;
        gap: 0;
        /* border: greenyellow thick solid; */
       }
       .lastlinksbottom{
        gap: 1cm;
        margin-left: 1cm;
       }
  
      
  
  
    .placema{
        margin: auto;
        width: 95%;
    }
  
  
  
    .mfotter{
    
     display: inline-block;
  }
  
  .mobilefooter{
     display: inline-block;
  }
  .mobilefoothead{
     margin-left: -1.5cm;
    }
    .socialsflex{
     flex-direction: column;
     gap: .5cm;
     margin-left: 2cm;
     padding: 0;
     /* border: red thick solid; */
     width: 70%;
    }
    .mobilefoothead{
     margin-left: -1cm;
     gap: 0;
     /* border: greenyellow thick solid; */
    }
    .lastlinksbottom{
     gap: 1cm;
     margin-left: 4cm;
     padding: 0.5cm;
     margin-top: .4cm;
     display: inline-block;
    }


    
}


