@media (max-width:1000px) {
    .sec1flex{
        flex-direction: column-reverse;
    }
    .sec1left{
        width: 100%;
    }
    .sec1right{
        width: 100%;
    }
    .imagespam{
        max-width: 100%;
        max-height: 100%;
        flex-wrap: wrap;
        gap: 1cm;
    }
    #drops{
        display: none;
    }
    .login{
        display: none;
    }
    .signup{
        display: none;
    }
    .search{
        display: none;
    }
    .searchbar{
        display: none;
    }
    .talent{
        display: none;
    }
    .undernav{
        display: none;
    }
    .sec1head br{
            display: none;
          
        }
    .sec1head{
        font-size: 2rem;
    }
    .burgr{
        display: inline-block;
     }
     .sec2flex{
        flex-direction: column-reverse;
     }
     .sec2div1{
        width: 100%;
        display: block;
     }
     .sec2div2{
        width: 100%;
        display: block;
     }
     .sec3flex{
        flex-direction: column;
     }
     .sec4flex{
        flex-direction: column-reverse;
     }
     .sec4div1{
        width: 100%;
     }
     .sec4div2{
        width: 100%;
     }
     .sec5flex{
         flex-direction: column;
         gap: 3cm;
     }
     .underthird{
        padding-top: .5cm;
     }
     .sec6flex{
        flex-direction: column;
     }
     .sec7flex{
        flex-direction: column-reverse;
     }
     .sec7div1{
        width: 100%;
        margin-top: -2cm;
     }
     .sec7div2{
        width: 100%;
     }
     .sec8flex{
        flex-direction: column;
     }
     .sharedsec1{
        width: 100%;
     }
     .sharedsec2{
        width: 100%;
     }



}

@media (max-width:800px){
   footer{
      display: none;
   }
   .nicepeople{
      width: 98%;
   }
   .girlie{
      display: none;
   }
   .girlieside{
      display: none;
   }
   /* .underscoller1{
      background-color: red;
      white-space: nowrap;
      display: none;
   }
   .underscoller2{
      background-color: red;
      white-space: nowrap;
      display: none;
   } */
}

@media (max-width:880px){
   .sec9firstscroll{
      height: auto;
      min-width: 350px;

   }

}

@media (max-width:700px){
     /* mobile stuff */
        
     .mobilefooter{
      display: inline-block;
  }
  .mobilefoothead{
      margin-left: -1.5cm;
     }
     .socialsflex{
      flex-direction: column;
      gap: .5cm;
      margin-left: 2cm;
      padding: 0;
      /* border: red thick solid; */
      width: 70%;
     }
     .mobilefoothead{
      margin-left: -1cm;
      gap: 0;
      /* border: greenyellow thick solid; */
     }
     .lastlinksbottom{
      gap: 1cm;
      margin-left: 1cm;
     }

    


  .placema{
      margin: auto;
      width: 95%;
  }



  .mfotter{
  
   display: inline-block;
}

.mobilefooter{
   display: inline-block;
}
.mobilefoothead{
   margin-left: -1.5cm;
  }
  .socialsflex{
   flex-direction: column;
   gap: .5cm;
   margin-left: 2cm;
   padding: 0;
   /* border: red thick solid; */
   width: 70%;
  }
  .mobilefoothead{
   margin-left: -1cm;
   gap: 0;
   /* border: greenyellow thick solid; */
  }
  .lastlinksbottom{
   gap: 1cm;
   margin-left: 4cm;
   padding: 0.5cm;
   margin-top: .4cm;
   display: inline-block;
  }
}







